body{
    background-color: #f1f2f6;
}

#title{
    text-align: center;
    font-weight: bold;
    font-family: 'Vibes', cursive;

}

#container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

    .player-bar{
        /* height: 280px; */
        /* width: 50px; */
        display: grid;
        grid-template-rows: 3fr 3fr 10fr;
        font-family: 'Patrick Hand', cursive;
        grid-template-columns: 5fr 5fr;
        grid-template-areas:
            "st ."
            "s  p"
            ".  .";
    }

    #first-player{
        margin-right: 70px;
    }

    #second-player{
        margin-left: 129;
    }

        .score-title{
            grid-area: st;
            width:50px;
            text-align: center;
            color: red;
        }

        .score{
            grid-area: s;
            font-size: 25px;
            font-weight: bold;
            /* justify-content: center; */
            /* align-content: center; */
            text-align: center;
        }

        #my-plus-points{
            grid-area: p;
            color:red;
            display: none;
            font-size:  18px;
        }


        .score-bar{
            width: 30px;
            height: 50%; /* variable!!!!!!!!!!!!!!!!!!!!!!! */
            background-color: #e74c3c;
            display: inline-block;
            margin-left: 10px;
        }

    #game{
        user-select: none;
        font-family: 'Patrick Hand', cursive;
        /* font-weight: bold; */
        margin-top: 7vh;
        /* margin-left: 18%; */
        padding-left: 25px;
        padding-right: 25px;
        height: 300px;
        width: 600px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 15fr 3fr;
        grid-template-areas:  
        "t t t"
        "l l l"
        "fc m lc";
    }

        .game-message{
            background-color: azure;
            padding: 10px;
            font-family: 'Patrick Hand', cursive;
            text-align: center;
            position: absolute;
        }

        .answer{
            font-size: 17px;
            color: red;
            cursor: pointer;
            font-weight: bold;
            margin-top:  5px;
        }

        #start{
            height: 189px;
            width: 247px;
            font-family: 'Patrick Hand', cursive;
            text-align: center;
            position: absolute;
            margin-left: 166px;
            margin-top: 11px;
            font-size: 28px;
            background-color: azure;
            padding: 10px
        }

        #out-of-time{
            width: 235px;
            margin-left: 172;
            margin-top: 20px;
        }

        #proceed-alone{
            width: 235px;
            margin-left: 172;
            margin-top: 20px;
        }

        .large-font{
            font-weight: bold;
            font-family: 'Vibes', cursive;
            font-size: 40px;
            height: 55px;
        }

        .big-font{
            font-family: 'Patrick Hand', cursive;
            font-size: 28px;
        }

        .medium-font{
            font-family: 'Patrick Hand', cursive;
            font-size: 17px;
        }

        .small-font{
            font-family: 'Patrick Hand', cursive;
            font-size: 12px;
            margin-top: 5px;
        }

#welcome{
    font-weight: bold;
    font-family: 'Vibes', cursive;
    font-size: 40px;
    height: 55px;
}

#new-game{
    cursor: pointer;
    margin-top: 5px;
    background-color: #e74c3c;
    padding: 3px;
    display: inline-block;
    padding-bottom: 7px;
    font-size: 24px;
    box-shadow: 1px 2px 2px gray;

}

#loser{
    margin-left: 237px;
    padding-left: 20;
    padding-right: 20px;
    margin-top:  40px;
}

#bye{
    margin-left: 181px;
    padding-left: 20;
    padding-right: 20px;
    margin-top:  40px;
}

.wrong-code{
    display: none;
    color:  red;
    font-size: 13px;
}

#waiting{
    font-family: 'Patrick Hand', cursive;
    text-align: center;
    position: absolute;
    margin-left: 191px;
    margin-top: 40px;
    font-size: 18px;
    background-color: azure;
    padding: 10px;
}

.room-id{
    color: #b71540;
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
}

#code{
    padding-bottom: 10px;
}

#loading-time{
    margin-left: 262px;
    margin-top: 40px;
    padding: 20px;
    font-size: 40px;
    display: inline-block;
    width: 30px;
}

.spinning-hippo{
    width: 20px;
    height: 20px;
    background-color: azure;
    animation-name: spin;
    animation-duration: 6000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}
  
  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(720deg);
      }
  }

#join-game{
    margin-top: 8px;
    font-size: 18px;
}

#code-input{
    width: 60px;
}

#win{
    position: relative;
    width: 220px;
    height: 150px;
    font-weight: bold;
    font-family: 'Vibes', cursive;
    text-align: center;
    margin-left: 183px;
    margin-top: 25px;
    font-size: 29;
    cursor: pointer;
    background-color: azure;
    padding: 10px

}

#lose{
    position: relative;
    /* width: 150px; */
    display: inline-block;
    font-weight: bold;
    font-family: 'Vibes', cursive;
    text-align: center;
    margin-left: 217px;
    margin-top: 40px;
    font-size: 29;
    background-color: azure;
    padding: 30px;

}

.try-again{
    color: #e74c3c;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;}

.message{
    font-family: 'Patrick Hand', cursive;
    font-weight: normal;
    font-size:22px;
}

.yes{
    font-size: 15px;
    float: left;
    margin-left: 60px;
    font-weight: bold;
    color: red;
}

.no{
    font-size: 15px;
    float: right;
    margin-right: 60px;
    font-weight: bold;
    color: red;
}

#time-bar{
    display: grid;
    grid-area: t;
    background-color: #2ecc71;
    text-align: center;
    align-content: center;
    justify-content: center;
}

#animal-land{
    grid-area: l;
    background-color: #27ae60;
}

#animal-counter{
    display: grid;
    grid-area: fc;
    background-color: #2ecc71;
    text-align: center;
    align-content: center;
    justify-content: center;
}

#message{
    display: grid;
    grid-area: m;
    background-color: #3498db;
    align-content: center;
    justify-content: center;
}

#level-counter{
    display: grid;
    grid-area: lc;
    background-color: #2ecc71;
    align-content: center;
    justify-content: center;
}

.poop{
    font-size: 50px;
    color: brown;
    padding: 10px;
}

.wink{
    font-size: 40px;
    color: #ff7979;
    margin-top: 15px;
}

.target{
    position: absolute;
    font-size: 30px;
    cursor: pointer;
}

